  * {
  box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  header{
    height: 65px;
    width: 100%;
    background-color: white;
    color: black;
    position : fixed;
    z-index: 10;
    top : 0;
  }

  a {
    text-decoration: none;
  }

  .container {
    max-width: 1300px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header-left{
    float: left;
  }

 .logo{
  width: 122px;
  padding : 15px 5px;
  }

  .header-right {
    float: right;
    margin-right: 10px;
  }

  .header-right a{
    float: left;
    line-height: 65px;
    padding: 15px 20px;
    font-family: 'Noto Sans';
    display: block;
    color:black;
    transition: all 0.5s;
  }

  .header-right a:hover{
    color:#31CFBC;
    transition: all 0.1s;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    cursor: default;
  }
  
  .menu-icon {
    color: black;
    float: right;
    font-size: 30px;
    padding: 35px 30px;
    display: none;
  }

  .fa {
    margin-right: 5px;
  }
